# Dependencies & Build artifacts
node_modules
web/node_modules
web/build
web/.svelte-kit

# Compiled Binaries (Keep repository lightweight, exclude heavy executables)
bin/*
!bin/cli.js

# Temporary files
*.exe~
*.log
test

# Internal Docs & Notes
docs/